:root {
  --primary-color: #58b368;
}

.heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  margin-bottom: 30px;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  color: var(--primary-color);
}
.link {
  margin-top: 40px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  color: var(--primary-color);
}
p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.8;
  font-style: normal;
}

h3 {
  font-family: "Playfair Display", serif;
  padding-top: 25px;
  font-weight: bolder;
  font-size: 80px;
  font-style: normal;
}
h4 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  padding-top: 70px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding-top: 85px;
  font-size: 45px;
}
.title {
  padding-top: 70px;

  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding-top: 90px;
  font-size: 45px;
}
.hero {
  display: flex;
  text-align: center;
  margin-left: 140px;
}

h4,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5px;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  margin-top: 100px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.quote {
  font-size: 10px;
}
.name {
  font-size: 68px;
  line-height: 1;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: var(--primary-color);
  margin-top: 10px;
}

.projects {
  margin-top: 100px;
}
.picture {
  width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 120ms ease-in-out;
  border-radius: 10px;
}
.picture:hover {
  opacity: 0.8;
  transform: scale(1.05);
  cursor: pointer;
}
.email-link {
  margin-top: 55px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
footer {
  margin-top: 200px;
  margin-left: 300px;
}
