:root {
  --primary-color: #183A37;
  --secondary-color: #7A9E7E;
}
body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;

  font-weight: bolder;
  font-style: normal;
}
nav{
  background-color: #b5d6cc;
  color: white;
}


.hero {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  margin-bottom: 30px;
  font-weight: bolder;
  font-style: normal;
}
.heading {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-weight: bold;
  font-style: normal;
}
.name {
  font-size: 68px;
  line-height: 1;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: var(--primary-color);
  margin-top: 10px;
}

.about-paragraph {
  font-weight: 700;
  line-height: 1.8;
  font-family: "Playfair Display", serif;
}
.nav-link {
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  font-family: "Playfair Display", serif;
  transition: all 120ms ease-in-out;
  font-size: 40px;
}
li{
font-size: 25px;
}

.nav-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}
h1 {
  padding-top: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 500;

  font-size: 45px;
}
h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Playfair Display", serif;
  padding-top: 25px;
  font-weight: bolder;
  font-size: 80px;
  font-style: normal;
}
h4,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.title {
  padding-top: 70px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding-top: 90px;
  font-size: 45px;
}
.hero {
  display: flex;
  text-align: center;
  margin-left: 70px;
}

.btn-branding {
  background-color:var(--primary-color);
  border: none;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
  
  margin-top: 50px;
  cursor: pointer;
}
.btn-branding:hover {
  opacity: 0.8;
  transition: all 120ms ease-in-out;
  cursor: pointer;
}

.quote {
  font-size: 8px;

  padding-left: -200px;
}

.projects {
  margin-top: 100px;
}

.picture {
  width: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 120ms ease-in-out;
  border-radius: 10px;
}
.project-link:hover {
  opacity: 0.8;
 font-size:35px ;
  cursor: pointer;
}
i {
  font-size: 20px;
  color: var(--secondary-color);
}
i:hover {
  opacity: 0.8;
  transform: scale(1.2);
  cursor: pointer;
}
footer {

  margin-top: 100px;
}
footer a{
  color: var(--primary-color);
}
.contact-img-responsive {
  width: 200px;
  display: block;
  border: 4px solid var(--primary-color);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}
@media (max-width: 960px) {
  .hero {
    padding: 10px;
    margin-left: -10px;
  }
  footer{
    font-size: 10px;
  }
  .name {
    font-size: 50px;
  }
  .link {
    padding: 7px;
  }
  .active {
    padding: 9px;
  }
  .navbar-brand{
    margin-left: -30px;
    width:80px;
    margin-left: 10px;
  }
}
