body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-style: normal;
  max-width: 600;
  background: #f4f4f4;
}

h1 {
  padding-top: 90px;
  font-size: 40px;
}
container {
  display: flex;
  justify-content: space-evenly;
}
.link {
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #58b368;
}
.initials {
  margin-top: 10px;
  margin-left: -80px;
  border-radius: 100px;
}
.colorado {
  border-radius: 50px;
  margin: 40px;
}
.follow {
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
  margin-top: 360px;
  margin-left: -220px;
  font-size: 18px;
  text-align: center;
}

.name {
  font-size: 70px;
  line-height: 1;
  color: #58b368;
  margin-top: 10px;
}

.hero {
  display: flex;
  margin-top: 50px;

  margin-left: 230px;
}
.about-main {
  max-width: 700px;
}
.projects {
  margin-top: 100px;
}
.picture {
  width: 300px;
  border-radius: 10px;
}
.email-link {
  margin-top: 55px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;

  color: rgb(46, 21, 70);
  border: 5px solid rgb(173, 101, 240);
}
footer {
  margin-top: 200px;
  margin-left: 300px;
}
